# NYC Taxi Data Ingestion Notebook

This notebook demonstrates loading NYC taxi data from GitHub and ingesting it into a PostgreSQL database using pandas and SQLAlchemy.

## Setup: Import Libraries and Configure Dependencies

In [1]:
# Import core data manipulation and database libraries
import pandas as pd  # Data manipulation and analysis
from sqlalchemy import create_engine  # Database connection management
from tqdm.auto import tqdm  # Progress bar for loops
import warnings  # Warning management
import logging  # Error and debug logging

# Configure logging for better error tracking
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

# Suppress non-critical warnings for cleaner output
warnings.filterwarnings('ignore')

## Configuration

Define parameters for data ingestion pipeline.

In [2]:
# ============ Data Configuration ============
# Specify the year and month for the taxi data to download
YEAR = 2021  # Data year
MONTH = 1    # Data month (January)

# Performance tuning parameters
CHUNK_SIZE = 100000  # Number of rows to process per iteration

# Database table name
TABLE_NAME = 'yellow_taxi_data'  # Target table in PostgreSQL

# ============ Database Configuration ============
# PostgreSQL connection parameters
DB_CONFIG = {
    'user': 'root',              # Database user
    'password': 'root',          # Database password
    'host': 'localhost',         # Database host address
    'port': '5432',              # PostgreSQL default port
    'database': 'ny_taxi'        # Target database name
}

# ============ Data Source Configuration ============
# GitHub repository URL for NYC taxi data
URL_PREFIX = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

# Construct the full data URL with year and month
DATA_URL = f'{URL_PREFIX}yellow_tripdata_{YEAR}-{MONTH:02d}.csv.gz'

In [3]:
# ============ Column Data Types ============
# Define explicit data types for each column to ensure proper parsing
# Using nullable Int64 instead of int64 to handle missing values
DATA_TYPES = {
    "VendorID": "Int64",                    # Taxi company ID (nullable)
    "passenger_count": "Int64",             # Number of passengers (nullable)
    "trip_distance": "float64",             # Trip distance in miles
    "RatecodeID": "Int64",                  # Rate code ID (nullable)
    "store_and_fwd_flag": "string",         # Flag for store-and-forward trips
    "PULocationID": "Int64",                # Pickup location zone ID (nullable)
    "DOLocationID": "Int64",                # Dropoff location zone ID (nullable)
    "payment_type": "Int64",                # Payment method ID (nullable)
    "fare_amount": "float64",               # Base fare amount
    "extra": "float64",                     # Extra charges
    "mta_tax": "float64",                   # MTA tax amount
    "tip_amount": "float64",                # Tip amount
    "tolls_amount": "float64",              # Toll charges
    "improvement_surcharge": "float64",     # Improvement surcharge
    "total_amount": "float64",              # Total trip amount
    "congestion_surcharge": "float64"       # Congestion surcharge
}

# ============ Date Columns ============
# Specify columns that should be parsed as datetime
PARSE_DATES = [
    "tpep_pickup_datetime",     # Pickup timestamp
    "tpep_dropoff_datetime"     # Dropoff timestamp
]

## Load and Explore Data

Load a sample of the data and inspect its structure.

In [4]:
# Load a sample of the data for quick inspection
# Using nrows=1000 to load only 1000 rows for faster processing
# This allows us to inspect the data structure without loading the entire dataset
df_sample = pd.read_csv(
    DATA_URL,
    dtype=DATA_TYPES,           # Apply defined data types
    parse_dates=PARSE_DATES,    # Parse date columns
    nrows=1000                  # Load sample for quick inspection
)

# Display basic information about the loaded sample
print(f"Sample data shape: {df_sample.shape}")  # Show number of rows and columns
print(f"\nFirst few rows:")
df_sample.head()  # Display first 5 rows

Sample data shape: (1000, 18)

First few rows:

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
# Display data types for each column
# This verifies that all columns were loaded with the correct types
print("\nData types:")
df_sample.dtypes  # Show data type for each column

Data types:

VendorID                          Int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag       string[python]
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

## Database Setup

Create database connection and table schema.

In [6]:
# Construct the PostgreSQL connection URL from configuration parameters
# Format: postgresql://user:password@host:port/database
db_url = f"postgresql://{DB_CONFIG['user']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}"

# Create SQLAlchemy engine for database connection management
# This engine handles all interactions with the PostgreSQL database
engine = create_engine(db_url)

# Verify connection was successful
print("Database engine created successfully!")

Database engine created successfully!

In [7]:
# Generate SQL schema from the sample dataframe
# This creates the CREATE TABLE statement based on our data types
try:
    logger.info("Generating database schema...")
    schema = pd.io.sql.get_schema(df_sample, name=TABLE_NAME, con=engine)
    
    # Display the generated schema for review
    print("Generated database schema:")
    print(schema)
    logger.info("Schema generated successfully")
    
except Exception as e:
    logger.error(f"Error generating schema: {str(e)}")
    raise

2026-01-16 17:20:42,835 - INFO - Generating database schema...
2026-01-16 17:20:42,903 - INFO - Schema generated successfully

Generated database schema:

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
# Create an empty table in PostgreSQL with the correct schema
# df_sample.head(n=0) returns an empty dataframe with the same structure
# if_exists='replace' will drop the table if it already exists and recreate it
try:
    logger.info(f"Creating table '{TABLE_NAME}'...")
    df_sample.head(n=0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace')
    
    # Confirm table creation
    logger.info(f"Table '{TABLE_NAME}' created successfully!")
    print(f"‚úì Table '{TABLE_NAME}' created successfully!")
    
except Exception as e:
    logger.error(f"Error creating table: {str(e)}")
    print(f"‚ùå Table creation error: {str(e)}")
    raise

2026-01-16 17:20:42,909 - INFO - Creating table 'yellow_taxi_data'...
2026-01-16 17:20:43,107 - INFO - Table 'yellow_taxi_data' created successfully!

‚úì Table 'yellow_taxi_data' created successfully!

## Data Ingestion

Load complete dataset in chunks and insert into the database.

### Error Handling
- **Connection Errors**: Database connection issues will raise an exception
- **Data Errors**: Invalid data formats will be logged and skipped
- **Network Errors**: Download failures will attempt to retry

In [ ]:
# Initialize the data ingestion process with status messages
try:
    logger.info(f"Starting data ingestion into '{TABLE_NAME}'...")
    print(f"Ingesting data into '{TABLE_NAME}' table...")
    print(f"Chunk size: {CHUNK_SIZE:,} rows\n")
    
    # First, get the total number of rows to calculate expected chunks
    logger.info("Scanning data file to calculate total chunks...")
    df_preview = pd.read_csv(
        DATA_URL,
        usecols=['VendorID']  # Only read one column for speed (no parsing needed)
    )
    total_rows = len(df_preview)
    total_chunks = (total_rows + CHUNK_SIZE - 1) // CHUNK_SIZE
    logger.info(f"Total rows: {total_rows:,}, Expected chunks: {total_chunks}")
    del df_preview  # Free memory
    
    # Create an iterator that reads the CSV file in chunks
    # This approach is memory-efficient for large files (>1GB)
    # The iterator reads CHUNK_SIZE rows at a time
    df_iterator = pd.read_csv(
        DATA_URL,
        dtype=DATA_TYPES,           # Apply defined data types
        parse_dates=PARSE_DATES,    # Parse date columns
        iterator=True,              # Enable iterator mode for chunked reading
        chunksize=CHUNK_SIZE        # Read this many rows per iteration
    )
    
    # Track total rows inserted for final reporting
    rows_inserted = 0
    errors_count = 0
    
    # Custom format for tqdm progress bar showing chunk number and total
    # Format: "Inserting chunk 3/14 % [00:15<00:08, 1.23s/chunk]"
    bar_format = "Inserting chunk {n_fmt}/{total_fmt} |{bar}|{percentage:.1f}% [{elapsed}<{remaining}, {rate_fmt}]"
    
    # Iterate through each chunk and insert into the database
    # Using tqdm with custom format to show "Inserting chunk X/Y"
    for chunk_idx, chunk in enumerate(tqdm(
        df_iterator, 
        desc="üìä",  # Emoji description
        unit="chunk",  # Unit label
        total=total_chunks,  # Show total chunks
        bar_format=bar_format,  # Custom format
        ncols=90  # Terminal width
    ), 1):
        try:
            # Append each chunk to the database table
            # if_exists='append' adds rows to the existing table
            chunk.to_sql(name=TABLE_NAME, con=engine, if_exists='append', index=False)
            
            # Update row counter for progress tracking
            rows_inserted += len(chunk)
            logger.debug(f"Chunk {chunk_idx}/{total_chunks}: Inserted {len(chunk)} rows")
            
        except Exception as chunk_error:
            errors_count += 1
            logger.error(f"Error inserting chunk {chunk_idx}: {str(chunk_error)}")
            # Continue processing remaining chunks despite errors
            continue
    
    # Display completion status and summary statistics
    print(f"\n{'='*50}")
    print(f"‚úì Data ingestion completed successfully!")
    print(f"{'='*50}")
    print(f"Total rows inserted: {rows_inserted:,}")
    print(f"Total chunks processed: {chunk_idx}/{total_chunks}")
    if errors_count > 0:
        print(f"‚ö† Errors encountered: {errors_count} chunk(s)")
    
    logger.info(f"Ingestion complete: {rows_inserted:,} rows, {errors_count} errors")
    
except Exception as e:
    logger.error(f"Critical error during ingestion: {str(e)}")
    print(f"\n‚ùå INGESTION FAILED")
    print(f"Error: {str(e)}")
    raise

2026-01-16 17:20:43,130 - INFO - Starting data ingestion into 'yellow_taxi_data'...
2026-01-16 17:20:43,132 - INFO - Scanning data file to calculate total chunks...

Ingesting data into 'yellow_taxi_data' table...
Chunk size: 100,000 rows

2026-01-16 17:20:44,171 - INFO - Total rows: 1,369,765, Expected chunks: 14

Inserting chunk 0/14 |                                          | 0.0% [00:00<?, ?chunk/s]

2026-01-16 17:22:25,078 - INFO - Ingestion complete: 1,369,765 rows, 0 errors

==================================================
‚úì Data ingestion completed successfully!
==================================================
Total rows inserted: 1,369,765
Total chunks processed: 14/14